<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Servicios</title>
</head>

<body>

    <div class="container">
        <div class="col-md-4">
            <h3>Crear servicio nuevo</h3>

            <form action="/servicios/guardar-servicio" method="POST">
                <label for="">Servicio</label>
                <input class="form-control" type="text" name="nombreServicio" placeholder="Servicio"
                    aria-label="default input example">

                <label for="">Descripción</label>
                <input class="form-control" type="text" name="descripcionServicio" placeholder="Descripcion"
                    aria-label="default input example">

                <label for="">Costo</label>
                <input class="form-control" type="number" name="costoServicio" placeholder="Precio en MXN"
                    aria-label="default input example">
                <button type="submit" class="btn btn-info mt-3">Guardar</button>
            </form>
        </div>
    </div>
</body>

</html>