<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Servicio</title>
</head>
<body>
    <div class="container">
        <div class="col-md-4">
            <h3>Actualizar servicio</h3>

            <form action="/servicios/actualizar-servicio/{{updateServicio._id}}?_method=PUT " method="POST">
                <input type="hidden" name="_method" value="PUT">
                <label for="">Servicio</label>
                <input class="form-control" type="text" name="nombreServicio"
                    aria-label="default input example" value={{updateServicio.nombreServicio}}>

                <label for="">Descripción</label>
                <input class="form-control" type="text" name="descripcionServicio" 
                    aria-label="default input example" value={{updateServicio.descripcionServicio}}>

                <label for="">Costo</label>
                <input class="form-control" type="number" name="costoServicio"
                    aria-label="default input example" value={{updateServicio.costoServicio}}>
                <button type="submit" class="btn btn-info mt-3">Guardar</button>
            </form>
        </div>
    </div>
</body>
</html>