<div class="jumbotron">
  <h1 class="display-4">CRUD</h1>
  <p class="lead">CRUD usando MongoDB, Express, NodeJS, Handlebars, Javascript y Bootstrap</p>
  <hr class="my-4">
  <p>Esto es divertido :D.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Sobre mi</a>
</div>